<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="fluxuser testsuite">
            <directory>./FluxuserTest</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name='HTTP_HOST' value='http://localhost' />
    </php>
</phpunit>
